---
import { SITE_TITLE } from "../config";
---

<header class="mb-4 flex flex-row justify-between">
	<a href="/">
		<h1
			class="uppercase font-bold text-red-500 hover:text-red-700 text-3xl"
		>
			{SITE_TITLE}
		</h1>
	</a>
	<button id="dark-mode-toggle">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="w-6 h-6 dark:text-white"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
			<path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
		</svg>
	</button>
</header>

<script is:inline>
	if (
		localStorage.theme === "dark" ||
		(!("theme" in localStorage) &&
			window.matchMedia("(prefers-color-scheme: dark)").matches)
	) {
		document.documentElement.classList.add("dark");
	} else {
		document.documentElement.classList.remove("dark");
	}

	window.onload = function () {
		const element = document.getElementById("dark-mode-toggle");

		if (element) {
			element.addEventListener("click", () => {
				document.documentElement.classList.toggle("dark");

				localStorage.theme =
					document.documentElement.classList.contains("dark")
						? "dark"
						: "light";
			});
		}
	};
</script>
